@import "tailwindcss";

@font-face {
    font-family: BricolageGrotesque;
    src: url("src/assets/fonts/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf");
}

@font-face {
    font-family: DMSans;
    src: url("src/assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf");
}