@import "tailwindcss";

@font-face {
    font-family: BricolageGrotesque;
    src: url("./fonts/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf");
}

@font-face {
    font-family: DMSans;
    src: url("./fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf");
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: hsl(243, 27%, 20%);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: hsl(243, 23%, 40%);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: hsl(243, 23%, 50%);
}
